// nextflow.config for BSseq_Nexflow_Pipeline

// Default parameter values
params {
    input_pattern      = '<Absolute Path>/BisulfiteSequencing_FASTQ/*_R1_001.fastq.gz'
    pipeline_script    = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/Bismark_MetricAggregation/Methylation_Seq_Pipeline.sh'
    aggregate_script   = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/Bismark_MetricAggregation/aggregate_Meth_Metrics_v4.py'
    beta_script        = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/Bscore_Calculation/Per_CpG_BetaScoreCalculation_v2.py'
    cov2dss_script     = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/DMR_Analysis/BSseq_cov_to_dss_format.py'
    bsseq_script       = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/DMR_Analysis/MethCoverage_to_BSseqObject.R'
    dml_dmr_script     = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/DMR_Analysis/DSS_callDMLs_thenDMRs_v1.R'
    annotation_script  = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/GeneAnnotation_for_DMRs/DMR_toGene_Annotation.R'
    viz_script         = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/Visualization/CDF_Density_Bscore_BSseq_Visualizations.py'
    genome_dir         = '<Absolute Path>/Reference/mm10_bismark_20250501' // Pipeline needs a custom bismark generated reference
    dss_outdir         = 'dss_input'
    bsseq_outfile      = 'BSseq_object.rds'
    groups_csv         = '<Absolute Path>/BSseq_Nexflow_Pipeline_v1/DMR_Analysis/GroupFile.csv'
    grp1               = 'Group 1'
    grp2               = 'Group 2'
    dml_out_prefix     = 'DSS_analysis'
    RefSeq             = '/projects/b1063/Reference/mm38.ncbiRefSeq.bed'
    annotation_outfile = 'DMRs_annotated_with_geneparts'
    viz_bins           = 50
    moduleLoad         = 'fastqc/0.12.0 python/3.8.4 cutadapt/4.2 TrimGalore/0.6.10 bowtie2/2.4.1 bismark/0.21.0 samtools/1.10.1 R/4.2.0'
}

// SLURM executor configuration
process {
    executor = 'slurm'
    
    // Native SLURM options (account, partition, nodes, tasks, mail, output)
    clusterOptions = [
        '--account=account',
        '--partition=partition',
        '-t 36:00:00',
        '--mem=70gb',
        '-N 1',
        '--job-name=SampleName',
        '-n 8',
        '--mail-type=ALL',
        '--mail-user=user@domain',
        '--output=%x.%j.out'
    ]

    // Use a login shell so modules load properly
    shell        = '/bin/bash -l'
    beforeScript = "module load ${params.moduleLoad}"
}
